<!--
Juan Uriarte Barragán 2008467
01/05/2021
tec-skills.page.html
-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-item color="primary" lines=none>
      <ion-button (click)="openMenu()"><ion-icon name="menu-outline"></ion-icon></ion-button>
      <ion-title>Technical Skills</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-class">
  <ion-list lines="none">
    <ion-item *ngFor="let tSkill of tSkills" class="list-item">
        <ion-label class="right-margin">{{tSkill}}</ion-label>
        <ion-button (click)="deletetSkill(tSkill)"color="primary" class="basic-button">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-item lines="none" class="input-item">
    <ion-input placeholder="Introduce a technical skill" [(ngModel)]="inputValue" type="text" class="input right-margin"></ion-input>
    <ion-button (mousedown)="addtSkill(); $event.preventDefault()" color="primary" class="basic-button right-margin">
      <ion-icon slot="icon-only" name="add-outline"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-toolbar color="primary" class="btn-wrapper">
    <ion-button (click)="saveUser()" color="secondary" shape="round" class="footer-button">Save changes</ion-button>
  </ion-toolbar>
</ion-footer>
