<!--
Juan Uriarte Barragán 2008467
01/05/2021
app.component.html
-->
<ion-app>
  <ion-menu side="start" menuId="first" contentId="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item>
            <ion-button fill='clear' routerLink="/personal-profile">Personal Profile</ion-button>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item>
            <ion-button fill='clear' routerLink="/tec-skills">Technical Skills</ion-button>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item>
            <ion-button fill='clear' routerLink="/soft-skills">Soft Skills</ion-button>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item>
            <ion-button fill='clear' routerLink="/personal-project">Personal Project</ion-button>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item>
            <ion-button fill='clear' routerLink="/team-project">Team Project</ion-button>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item>
            <ion-button fill='clear' routerLink="/extra-curriculum">Extra Curriculum</ion-button>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item>
            <ion-button fill='clear' routerLink="/contact-information">Contact Information</ion-button>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item>
            <ion-button fill='clear' (click)="onLogout()">Logout</ion-button>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
