<!--
Juan Uriarte Barragán 2008467
01/05/2021
home.page.html
-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-item color="primary" lines=none>
      <ion-button (click)="openMenu()"><ion-icon name="menu-outline"></ion-icon></ion-button>
      <ion-title>Welcome</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-class">
  <ion-title class="tittle">Welcome</ion-title>
  <p class="parra">Hi, this is your App for get a virtual CV. <br><br>
    You can use the menu that is in the top left corner to navigate in 
    the App and you can add or modify the information to get the best CV.
    <br><br>Thanks for working with us, good luck</p>
</ion-content>
